
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
 box-sizing: border-box;
}


body {

background-color: #FFFFFF;
font-family: Verdana;
font-size: 100%;

}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2D2D2D;
  padding: 1em;
}

form {
  border: 1px solid #FF5800;
  border-radius: 0.3em;
  padding: 0.3em;
  margin: auto;
}

form input {

  font-size: 1.2em;
  border-radius: 0.2em;
  border: none;
  padding: 0.2em;
  width: 400px;

}
form button {
  font-size: 1.2em;
  border-radius: 0.2em;
  border: none;
  padding: 0.2em;
  width: 50px;
}

form button {
  cursor: pointer;
  background: none;
  color: whitesmoke;
}

form button:hover {
  background-color: #FF5800;
  color: #2D2D2D;
}
figure{
  float: left;
  width: 80%;
  text-align: center;
  text-indent: 0;
  margin: 0.5em;
  padding: 0.5em;
}
figure:hover {
  background-color: #FF5800;
  color: #2D2D2D;
  border-radius: 0.7em;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition-duration: 0.5s;

}
#cssmenu .ult {
    float: right;
    background-color: #E54F12;

}

#cssmenu {
  width: 100%;
  height: 60px;
  background-color: #2D2D2D;

}

#cssmenu ul,
#cssmenu li {
  list-style: none;
background-color: #2D2D2D;
border-radius: 0.1em;
}

#cssmenu ul {
  position: relative;
background-color: #2D2D2D;
z-index: 597;


}

#cssmenu ul li {
  float: left;
text-align: center;
vertical-align: middle;



}

#cssmenu ul li.hover,
#cssmenu ul li:hover {
      position: relative;
      background-color: #E54F12;
      z-index: 599;
      text-decoration: none;
      transition: background .4s;

}

#cssmenu ul ul {
  visibility: hidden;
  position: absolute;
  left: 0;
  z-index: 598;
  top: 100%;
  width: 130px;

}

#cssmenu ul ul li {
  float: none;

}

#cssmenu ul ul ul {
border: 1px solid #2D2D2D;
  top: 0;
  left: auto;
  right: -99.5%;
}

#cssmenu ul li:hover>ul {
  visibility: visible;
}

#cssmenu ul ul {
  bottom: 0;
  left: 0;
}

#cssmenu ul ul {
  margin-top: 0;

}

#cssmenu ul ul li {
  font-weight: normal;
}

#cssmenu a {
  color: #FFF;
   padding: 20px;
   display: inline-block;
   text-decoration: none;


}
.footer.footer{

  position:absolute;
    bottom:0;
    width:100%;
   background-color: #242424;
}
.fale-conosco a{
text-decoration: none;
color:white;


}
.fale-conosco:hover{
  text-decoration: underline;

}
.contato{
margin-left: 45px;

}
.footer.footer .container{
display: grid;
grid-template-columns: repeat(4, 1fr);
}
.footer.footer .container > div{
flex-grow: 1;
flex-basis: 0;
}
.footer h2{
  color: #E54F12;

}
.footer p{
  font-size: 15px;
  color: #fff;

}
.footer .sobre-nos{
    margin-left: 30px;
}
.rede-sociais{
  color:#fff;
  align-items: center;
}
.rede-sociais .fa-facebook-f{
  height: 0px;
  width: 17px;
  font-size: 20px;
  line-height: 40px;
  margin: 0px 2px 0;
  color: #fff;
  cursor: pointer;
  transition: 0.5;
}
.rede-sociais .fa-facebook-f:hover{
  color: #E54F12;
  transform: translateY(-9px);
  transition-duration: 0.5s;
}
.rede-sociais .fa-twitter{
  height: 0px;
  width: 17px;
  font-size: 20px;
  line-height: 40px;
  margin: 0px 2px 0;
  color: #fff;
  cursor: pointer;
  transition: 0.5;
}
.rede-sociais .fa-twitter:hover{
  color: #E54F12;
  transform: translateY(-9px);
  transition-duration: 0.5s;
}
.rede-sociais .fa-instagram{
  height: 0px;
  width: 17px;
  font-size: 20px;
  line-height: 40px;
  margin: 0px 2px 0;
  color: #fff;
  cursor: pointer;
  transition: 0.5;
}
.rede-sociais .fa-instagram:hover{
  color: #E54F12;
  transform: translateY(-9px);
  transition-duration: 0.5s;
}
.rede-sociais .fa-whatsapp{
  height: 0px;
  width: 17px;
  font-size: 20px;
  line-height: 40px;
  margin: 0px 2px 0;
  color: #fff;
  cursor: pointer;
  transition: 0.5;
}
.rede-sociais .fa-whatsapp:hover{
  color: #E54F12;
  transform: translateY(-9px);
  transition-duration: 0.5s;
}
.texto-copy{
color: #E54F12;
text-align: center;

}
